doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body 
        h1 UpTask
        h2 Restablecer password
        p Hola, has solicitado restablecer tu password, haz click en el siguiente enlace para proceder. Este es un enlace temporal, si se vence debes solicitarlo nuevamente
        a(href=`${resetUrl}`) Resetar  password
        p Si no puedes acceder al enlace, visita #{resetUrl}
        p Si tu no solicitaste éste correo, puedes ignorarlo.
